/*RESET CSS =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #009c3b;
  --second-color: #ffdf00;
  --button-and-nav-color: #000A19;
  --color-text: #fff;

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

p {
  font-family: 'Quattrocento', serif;
}

/*BASE =================== */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;

  text-align: center;
  overflow: overlay;

  background: linear-gradient(90deg, #009c3b 20%, #ffdf00 100%);
  background-size: 200% 200%;

  animation: gradient 8s ease infinite;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;

  padding-inline: 2.4rem;
}

section {
  padding-block: 7rem;
}

/*====  scrollbar ============================ */

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--button-and-nav-color);
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #001839;
}

/* NAVIGATION =================== */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;

  background-color: var(--button-and-nav-color);
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button path {
  stroke: var(--color-text);
}

nav path {
  stroke: var(--color-text);
}

.logo {
  color: var(--color-text);
  text-decoration: none;
}

.logo img {
  width: 25rem;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* NAVIGATION ON SCROLL =================== */
nav.scroll {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 10, 25, 0.75);
}

nav.scroll path {
  stroke: var(--color-text);
}

/* MENU EXPANDED =================== */
nav .menu,
nav .close-menu {
  position: fixed;
}

body.menu-expanded {
  overflow: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--button-and-nav-color);

  width: 100vw;
  height: 20vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  margin-top: 3rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: var(--color-text);
}

/*HOME =================== */

#home {
  background-image: url(./assets/bg\ image\ 2.jpg);
  background-repeat: no-repeat;

  box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.75);
}

#home-image {
  display: flex;
  align-items: center;

  height: 70rem;
}

#home .content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#home .content p {
  color: var(--color-text);
}

#home .content p span {
  color: var(--second-color);
}

#home .content h1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--color-text);
  line-height: 130%;
}

#home .content button a {
  text-decoration: none;
}

#home .content button {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  background-color: var(--primary-color);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  font-weight: 300;
  color: var(--color-text);
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;

  border: none;
  border-radius: .8rem;
  padding: 1rem 9rem 1.2rem;
  cursor: pointer;
  
  transition: all 300ms;

  box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.75);
}

#home .content button:hover {
  background-color: #017d30;
}

/* portfolio =================== */
#portfolio button {
  margin-top: 5rem;

  padding: 1rem 4rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid #001839;

  background-color: #000A19;
  color: var(--color-text);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: all 200ms ease-in-out;

  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;

  cursor: pointer;
}

#portfolio button:hover {
  background-color: #001839;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 8px 18px;

}

/* ABOUT =================== */
#about {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40);
  border: 5px solid rgba(255, 255, 255, 0.125);

  box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.75);

  margin-top: -7.5rem;
}

#about h2 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 2.5rem;
}

#about .content p {
  font-size: 1.6rem;
  opacity: .9;
  color: var(--color-text);

  line-height: 2.3rem;
}

#about .content p span {
  color: var(--second-color);
}

/* SERVICES =================== */

#services .cards {
  gap: 4rem;
}

#services header h4 {
  font-size: 2.8rem;
  font-weight: 300;
  color: var(--color-text);

  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

#services header p {
  color: var(--color-text);
  font-size: 1.6rem;
  opacity: .8;
}

#services h2 {
  color: var(--color-text);
  font-weight: 400;
  font-size: 4rem;
  
  margin-bottom: 2.5rem;
}

#services .cards .card img {
  width: 100%;
  aspect-ratio: 16/11;
  object-fit: cover;
  border-radius: 1.6rem;

  box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.75);

  transition: all 300ms ease-in-out;
}

#services .cards .card img:hover {
  transform: scale(1.05);
}

/* DEPOSITIONS ===================
#depositions h2 {
    color: var(--color-text);
    font-weight: 300;
    font-size: 4rem;
    
    margin-bottom: 2.5rem;
  }

#depositions blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
  }

#depositions blockquote p {
    color: var(--color-text);
    font-size: 2rem;
    text-indent: 3rem;

    position: relative;
    margin-bottom: 2.4rem;
  }

#depositions blockquote p span {
    color: #fff;
    font: 700 4rem serif;

    position: absolute;
    top: -1.2rem;
    left: -2.5rem;
  }

#depositions cite {
    display: flex;
    align-items: center;
    gap: .8rem;

    opacity: .8;
    color: var(--color-text);
  }

#depositions cite img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    clip-path: circle();
  }  */

/* swipers =================== 

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

*/

/* CONTACT =================== */
#contact {
  text-align: left;

  background-color: var(--color-text);

  box-shadow: 0px -3px 35px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -3px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -3px 35px 0px rgba(0,0,0,0.75);
}

#contact header h2 {
  color: var(--button-and-nav-color);
  font-weight: 300;
  font-size: 4rem;
  
  margin-bottom: 2.5rem;
}

#contact header p {
  color: var(--button-and-nav-color);
  font-size: 1.6rem;
  opacity: .9;

  margin-bottom: 4rem;
}

#contact label {
  font-family: 'Quattrocento', serif;
  color: var(--button-and-nav-color);
  font-size: 1.6rem;
  font-weight: bold;
}

.feedback-input {
  color: var(--button-and-nav-color);
  font-size: 1.8rem;
  border-radius: .5rem;
  line-height: 2.2rem;
  background: rgba(255, 255, 255, 0.07);
  transition: all 0.3s;
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  width:100%;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid var(--button-and-nav-color); 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Quattrocento', serif;
  width: fit-content;
  background: var(--button-and-nav-color);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size: 1.6rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
}
[type="submit"]:hover {
   background: #001839; 
  }

form .input p {
  color: var(--color-text);
  font-size: 1.2rem;
  opacity: .8;
}

form .input span {
  font-weight: bold;
}

form .input {
  display: flex;
  justify-content: space-between;
}

/* FOOTER =================== */

footer {
  background-color: var(--button-and-nav-color);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

footer .logo {
  width: 20rem;

  transition: all 200ms ease-in-out;
}

footer .logo:hover {
  filter: drop-shadow(6px 5px 19px rgba(46, 46, 46, 1));

  transform: scale(1.1) rotate(360deg);
}

footer span a {
  color: #cac9c9;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

footer span a:hover {
  color: var(--color-text);
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 2rem;
}

footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* buttonInstagram =================== */

#buttonInstagram {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}

#buttonInstagram.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#buttonInstagram img {
  width: 7rem;
  transition: all 300ms ease-in-out;
}

#buttonInstagram img:hover {
  transform: scale(1.1);
}

/* RESPONSIVE =================== */

@media (min-width: 1024px) {

/* GERAL ===================  */
.wrapper {
  width: min(112rem, 100%);
}

  /*reset*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    background-color: initial;
    font-weight: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu {
    display: none;
  }

   /*navigation media*/
  nav#navigation .social-links {
    display: flex;
    gap: 3.2rem;
  }

   /*header media*/
  header#home #home-image {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 70rem;
  }

   /*work media*/
  section#work .model-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  section#work .model-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

   /*services media*/
  section#services .wrapper .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

   /*contact media*/
  section#contact .wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
}

/* ANIMATIONS =================== */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





